.background {
  background: url('./assets/bg.jpg');
  background-position: 50% 50%;
  height: 100vh;



}

.form-wrapper {
  width: 260px;
  height: 320px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 20px #000;


  :global {
    .form-submit-btn {
      width: 100%;
    }
  }
}
