.register-form {
  margin: 0 auto;
  width: 300px;
  margin-top: 50px;


}

.register-form-btn {
  :global {
    .ant-form-item-children {
      display: flex;
      .ant-btn {
        flex: 1;
      }
    }
  }
}
